div {
    margin: 10px;
}

button.mainButton {
    margin-top: 10px;
    font-family: Arial;
    color: deepskyblue;
    background-color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer; cursor: hand;
    font-size: 20px;
}
button.mainButton:hover {
    background-color: deepskyblue;
    color: black;
}

button.details-button{
    border-radius: 5px;
}
