div {
    margin: 10px;
}

button.mainButton {
    margin-top: 10px;
    font-family: Arial;
    color: deepskyblue;
    background-color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: hand;
    font-size: 20px;
}
button.mainButton:hover {
    background-color: deepskyblue;
    color: black;
}

button.details-button{
    border-radius: 5px;
}

.blink {
    animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}  
label{
    color: #ff000f;
    font-size: 20px;
    font-style: italic;
}