<div style="width: 80%; margin: 0 auto">

    <h1>Rest Api</h1>
    <hr/>

    <div>
        <button (click)="getAllIssueField()" class="mainButton" >Get subject from all issues</button>
        <button  (click)="show()" class="mainButton" ngclass="main">Pokaż konkretne issue</button>
    </div>

    <div *ngIf="data">
        <table class="table table-bordered table-hover">
            <tr>
                <th>IdIssue</th>
                <th>Subject</th>
                <th>Akcja</th>
            </tr>
            <tr *ngFor="let item of data">
                <td >
                    <a href="http://10.0.10.31/issues/{{item.issueId.slice(1)}}" target="_blank">{{item.issueId}}</a>
                </td>
                <td >{{item.subject}}</td>
                <td>
                    <button class="mojeButton">Pokaz url</button>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="czy">
        <input  #IDISSUE>
        <button (click)="getIssueField(IDISSUE.value)">Pokaż</button>
    </div>

    <hr/>

</div>