/target/
.classpath
.idea/
.project
*.iml
.settings/
/.idea
/.settings
nb-configuration.xml
node_modules
src/main/resources/rebel.xml
src/main/resources/app.eng.properties
src/main/resources/rebel-remote.xml
